body {
    background-color: azure;
    margin-top: 10vh;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container img {
    display: block;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
}

.img-logo {
    height: 80px;
    width: 80px;
}